/* RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Lato", serif;
  line-height: 1.6;
  overflow-x: hidden;
}

/* FONT IMPORT HERE */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* STYLING  */
body {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.inner-container {
  max-width: 808px;
  margin: auto;
}
.hero-section {
  border-bottom: 8px solid #999999;
}
.section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
}
.hero-heading {
  font-size: 2rem;
}
.hero-info {
  margin-top: 2rem;
}
.hero-info p {
  padding-top: 1rem;
  width: 415px;
  font-size: 20px;
  font-weight: 400;
}
.green-text-color {
  color: #009966;
  font-weight: 800;
}

.section-two {
  background-color: #666666;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 2rem auto;
  background-color: #fff;
  border-radius: 8px solid #999999;
}

.heading {
  background-color: #ffbf00;
  border-bottom: 8px solid #cc9900;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 10px;
  left: -5px;
}
.card-content {
  background-color: #fff;
  padding: 2rem 1rem 1.5rem;
  margin-top: 2rem;
}
.card-container p {
  padding-top: 1rem;
  font-size: 20px;
}
@media screen and (max-width: 500px) {
  .hero-info p {
    width: 100%;
  }
}
